name: CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-lint-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 pytest pytest-cov python-dotenv

      - name: Create .env file with dummy variables
        run: |
          echo "MLFLOW_TRACKING_URI=http://dummy-mlflow:5000" >> .env
          echo "S3_BUCKET_NAME=dummy-bucket" >> .env
          echo "SUPABASE_URL=https://dummy.supabase.co" >> .env
          echo "SUPABASE_KEY=dummy-key" >> .env

      - name: List collected tests
        run: pytest --collect-only -m "not integration" -v

      - name: Lint and Test
        run: bash run_tests.sh

      - name: Create .env file for deployment
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |
          echo "GIT_COMMIT_HASH=${{ github.sha }}" >> .env
          echo "SOURCE_REPO=https://github.com/LamelK/solar-prediction-mlops_zoomcamp.git" >> .env

      - name: Login to Prefect Cloud
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: prefect cloud login --key ${{ secrets.PREFECT_KEY }} --workspace "lamel-mo/default" 

      - name: Deploy Prefect Flows
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: python prefect_deployment.py 